:root {
	--text-color: azure;
	--orange-color: #ffa31a;
	--dark-orange-color: #cf4a0c98;
	--dark-orange-color: #ffa31a6e;
	--grey-color: #808080;
	--dark-color: #292929;
	--black-color: #1b1b1b;
	--wrapper-bg-color: rgba(22, 22, 22, 0.3);
	--ts-viewer-bg-color: rgba(73, 73, 73, 0.514);
	--sidebar-bg-color: #1b1b1bec;
	--navbar-height: 71px;
	--background-image: url("./img/rust_banner.jpg");
	--text-code-font: "Courier New", Courier, monospace;
}

html {
	scroll-behavior: smooth;
}

:target:before {
	content: "";
	display: block;
	height: 100px;
	margin: -100px 0 0;
}

body {
	background-image: var(--background-image);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-position: 0 var(--navbar-height);
	background-color: var(--black-color) !important;
}

/* For navbar */
body {
	padding-top: var(--navbar-height) !important;
}
@media (max-width: 979px) {
	body {
		padding-top: 0px !important;
	}
}

h1,
h2,
h3 {
	font-weight: 800 !important;
	letter-spacing: 0.05em;
	word-spacing: 0.2em;
	text-transform: uppercase;
	border-left: var(--orange-color);
	border-left-style: solid;
	border-left-width: 3px;
	padding: 0 10px;
}

h1 {
	font-size: 1.6rem !important;
}

h2 {
	font-size: 1.5rem !important;
}

h3 {
	font-size: 1.4rem !important;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:active,
.btn-primary:visited {
	background-color: var(--orange-color) !important;
}

.navbar {
	background-color: var(--dark-color);
}

.nav-link.active {
	color: var(--orange-color) !important;
	/* Top only */
	/* box-shadow: inset 0px 2px 0px -1px var(--orange-color); */
	/* Bottom only */
	box-shadow: inset 0px -2px 0px -1px var(--orange-color);
}

.nav-link:hover {
	color: var(--orange-color) !important;
}

.navbar-brand {
	font-size: 30px !important;
}

.hamburger-icon {
	/* Reset the button styling */
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

	width: 40px;
	height: 40px;
	font-size: 22px;
	color: var(--orange-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.hamburger-icon:hover {
	cursor: pointer;
}

.sidebar {
	width: 0;
	height: 100%;
	background-color: var(--sidebar-bg-color);
	position: fixed;
	top: var(--navbar-height);
	left: 0;
	transition: width 200ms;
}

.sidebar ul {
	padding-top: 15px;
	overflow: hidden;
}

.sidebar ul li {
	line-height: 60px;
	list-style: none;
}
.sidebar ul li span,
.sidebar ul li a {
	display: block;
	height: 60px;
	padding: 0 10px;
	text-decoration: none;
	text-transform: none;
	color: var(--text-color);
	font-size: 16px;
	white-space: nowrap;
}
.sidebar ul li span {
	color: var(--grey-color);
	font-size: 18px;
}
.sidebar ul li a:hover {
	background-color: var(--dark-color);
	color: var(--orange-color);
	transition: none;
}

#banner-container {
	text-align: center;
	margin-top: 200px;
}

#banner-texts {
	fill: var(--text-color);
}

#banner-lines {
	stroke: var(--text-color);
}

#banner-lines,
#banner-texts {
	transition: all 1s ease;
}

.footer-main {
	background-color: var(--dark-color);
}

.footer-main a,
main a {
	color: var(--orange-color) !important;
}

.wrapper {
	margin: 100px 0;
	width: 100%;
	background-color: var(--wrapper-bg-color);
	padding: 50px 80px;
	color: var(--text-color);
	/* backdrop-filter: blur(7px); */
	border-style: solid;
	border-image: linear-gradient(var(--dark-orange-color), transparent) 1;
	border-image-width: 1px;
	border-bottom: 0;
	border-radius: 0 0 10px 10px;
}

.TSViewer {
	background-color: var(--ts-viewer-bg-color);
	padding: 30px;
	border-radius: 5px;
}

.server-ip {
	font-family: var(--text-code-font);
}

.server-ip a {
	color: var(--text-color) !important;
	font-family: var(--text-code-font);
}

.ip-info-table td {
	padding-right: 50px;
	padding-bottom: 20px;
}

.custom-btn {
	color: var(--orange-color) !important;
}

.jari-quote {
	transition: all 200ms ease;
}

.jari-quote:hover {
	transform: scale(1.1);
}

.gallery-image {
	overflow: hidden;
}

.gallery-image img:hover {
	transform: scale(1.05);
	transition: all 200ms ease;
}
