@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
	font-family: "Open Sans", sans-serif;
}

:root {
	--orange-color: #ffa31a;
	--grey-color: #808080;
	--dark-color: #292929;
	--black-color: #1b1b1b;
}

body {
	background-image: url("./img/rust_banner.svg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-position: 0 70px;
	background-color: var(--black-color) !important;
}

/* For navbar */
body {
	padding-top: 70px !important;
}
@media (max-width: 979px) {
	body {
		padding-top: 0px !important;
	}
}

.navbar {
	background-color: var(--dark-color);
}

.nav-link.active {
	color: var(--orange-color) !important;
}

.navbar-brand {
	font-size: 30px !important;
}

#molo-logo {
	margin-top: 200px;
	background-image: url("./img/molo-logo.svg");
	background-repeat: no-repeat;
	/* background-color: red; */
	/* background-size: contain; */
	background-position: center;
	width: 500px;
	height: 200px;

	transition: transform 0.2s;
}

#molo-logo:hover {
	transform: scale(1.03);
}

.footer-main {
	background-color: var(--dark-color);
}

.footer-main a,
main a {
	color: var(--orange-color) !important;
}

.wrapper {
	margin: 100px 0;
	width: 100%;
	background-color: rgba(22, 22, 22, 0.3);
	border-radius: 10px;
	padding: 50px 80px;
	color: azure;
}
